<h1>Редактировать {{course.title}}</h1>
<form class="col s12 course-form" action="/courses/edit" method="post">
    <div class="row">
        <div class="input-field col s12">
            <input id="title" type="text" class="validate" name="title" value="{{course.title}}" required>
            <label for="title">Название Курса</label>
            <span class="helper-text" data-error="Введите название"></span>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="price" type="text" class="validate" name="price" value="{{course.price}}" required>
            <label for="price">Цена курса</label>
            <span class="helper-text" data-error="Введите цену"></span>

        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="url" type="text" class="validate" name="url" value="{{course.url}}" required>
            <label for="url">URL картинки</label>
            <span class="helper-text" data-error="Введите url картнки"></span>
        </div>
    </div>
    <input type="hidden" name="id" value="{{course.id}}">
    <input type="hidden" value="{{@root.csrf}}" name="_csrf">
    <input type="submit" class="waves-effect waves-light btn" value="Редактировать курс">
</form>
<br>
<form action="/courses/remove" method="post">
    <input type="hidden" name="id" value="{{course.id}}">
    <input type="hidden" value="{{@root.csrf}}" name="_csrf">
    <button type="submit" class="btn waves-effect waves-light red" >Удалить курс</button>
</form>
